<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
<% include ../partials/nav.ejs %>
<br>
<br>
  <h3>Register</h3> <small><%=message%></small>
  <form action="/auth/register" method="POST">
  <% include ../partials/checkbox.ejs %>
    <input placeholder="username" type="text" name="username">
    <input placeholder="password" type="password" name="password">
    <button type="submit">Register</button>
  </form>
<br>
<br>
  <h6>Already have an account?</h6>
  <h3>Login</h3> <small><%=message%></small>
  <form action="/auth/login" method="POST">
    <input placeholder="username" type="text" name="username">
    <input placeholder="password" type="password" name="password">
    <button type="submit">Login</button>
  </form>



</body>
</html>