
 <div class="container-fluid">
    <div class="row">
      <div class="col-lg">
          <input class="clientButton" type="radio" name="userType" value="client">Client
        </div>
        <div class="col-lg">
          <input class="artistButton" type="radio" name="userType" value="artist">Artist
          <div class="artistKeys">
          <input class="artistKeys" placeholder="City" type="text" name="city" required><br>
          <input class="artistKeys" placeholder="Years of Experience" type="text" name="yearsExp" required><br>
          </div>
        
        </div>
      </div>
    </div>
    <br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  // hide .artistKeys
$('.artistKeys').hide()
$(".artistButton").on("click", () => {
    $('.artistKeys').show()
    
})
$(".clientButton").on("click", () => {
  $('.artistKeys').hide()
    
})
</script>
