<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Audiowide|Bangers" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Miltonian+Tattoo" rel="stylesheet">
	<title>
		
	</title>
</head>
<body>
	<h1>inkBerry</h1>
	<div class="container">
		<div class="row">
			<div class="col">
					<a href="http://localhost:3000/">Home</a>
				</div>
				<div class="col">
					<a href="http://localhost:3000/artists">Artists</a>
				</div>

<!-- 				<div class="col">
					<div class="col">
					<a href="http://localhost:3000/clients">Clients</a>
				</div> -->

				<% if (session) { -%>
					
					<div class="col col-logout">
						<a href="/auth/logout">Logout</a>
					</div>

				<% } else { -%>
					
					<div class="col col-reg">
						<a href="http://localhost:3000/auth/login">Register/Login</a>
					</div>
					
				<% } -%>

				<% if (client) { -%>
				<div class="col col-client">
					<h3><a href="http://localhost:3000/clients/<%=client.id%>"><%=username%></a></h3>
					
				<% } else if (artistId) { -%>
				<div class="col col-artist">
					<h3><a href="http://localhost:3000/artists/<%=artistId.id%>"><%=username%></a></h3>
				</div>
					
				<% } -%>
 
		</div>
</div>
</body>
</html>