<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Audiowide|Bangers" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
	<title>
		
	</title>
</head>
<body>
	<div class="container">
<nav>
	<ul>
		<li><a href="http://localhost:3000/">Home</a></li>
		<li><a href="http://localhost:3000/artists">Artist</a></li>
		<li><a href="http://localhost:3000/clients">Client</a></li>
		<li><a href="http://localhost:3000/auth/login">Register/Login</a></li>
 
	</ul>
</nav>
</div>
</body>
</html>