<!DOCTYPE html>
<html>
<head>
	<title></title>
<link href="https://fonts.googleapis.com/css?family=Miltonian+Tattoo" rel="stylesheet">
</head>
<body>
<% include partials/nav.ejs %>
<h1>Home</h1><br>
<div>
	<ul>
      	<% for(let i = 0; i < Math.floor(Math.random(artists.name)); i++){ %>
         <li>
           <a href="/artists/<%=artists[i].id%>"><%=artists[i].name %></a>
         </li>
      <% } %>
    </ul>
</div>

</body>
</html>