<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
<% include partials/nav.ejs %>
<h1>Home</h1><br>


<div>
	<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
      	<% for(let i = 0; i < artists.length; i++){ %>
         
           <img style="height: 25%; width: 25%" src="<%=artists[i].urls%>">
         
      <% } %>
	</div>
  </div>
</div>

</body>
</html>