<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <% include ../partials/nav.ejs %>
    <h1>Create Client</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/clients">Client Index</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <form action="/clients" method="POST">
      Name: <input type="text" name="name"><br>
      <button type="submit">Add Client</button>
    </form>
  </main>

</body>
</html>
