body {
	font-family: 'Miltonian Tattoo', cursive;

	background-color: beige;
}

h1{
	font-family: 'Miltonian Tattoo', cursive;

	text-align: center;
}
.col {
	font-family: 'Miltonian Tattoo', cursive;

	text-align: center;
	box-shadow: 0 4px 5px -2px gray;
}
.col:hover{
	box-shadow: 0 10px 10px -2px gray;

}
.artistCarousel {
	background-color: lightblue;
	max-width:50%;
}
.col{
font-family: 'Miltonian Tattoo', cursive;

}