/*body {
	background-color: #ffdfba;
}*/

h1{
	text-align: center;
}
.col {
	text-align: center;
	box-shadow: 0 4px 5px -2px gray;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
.col:hover{
    width: 200px;
	box-shadow: 0 10px 10px -2px gray;

}