<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Miltonian+Tattoo" rel="stylesheet">
</head>
<body>

	<% include ../partials/nav.ejs %>

	<h2>Send e-mail to <%=artist.name%></h2>

	<form action="mailto:someone@example.com" method="post" enctype="text/plain">
	Name:<br>
	<input type="text" name="name"><br>
	E-mail:<br>
	<input type="text" name="mail"><br>
	Comment:<br>
	<input type="text" name="comment" size="256"><br><br>
	<input type="submit" value="Send">
	<input type="reset" value="Reset">
	</form>
</body>
</html>