<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>

	<% include ../partials/nav.ejs %>
	<h1>Artist Index Page</h1>
	<br>
	<h2></h2>


		<!--show dropdown menu for the cities that the artists are from
			only let city be shown once, no repeats if more than one artist is from the same city -->
		<select name="city" id="cityDropDown">
		           <%artists.forEach((elem, i) => {%>
		                <option value="<%=elem.city%>"><%=elem.city%></option>    
		            <%})%>
		</select>




	<ul>
        <% for(let i = 0; i < artists.length; i++){ %>
         <li>
           <a href="/artists/<%=artists[i].id%>"><%=artists[i].name %></a>
         </li>
      <% } %>
    </ul>

	<a href="http://localhost:3000/">Home</a>
	<br>

	<a href="http://localhost:3000/artists/new">New Artist</a>
	
	<script>
		//jquery for removing duplicates in dropdown menu
		
	</script>

</body>
</html>