<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Artist Index Page</h1>
	<br>
	<a href="http://localhost:3000/">Home</a>
	<br>
	<a href="http://localhost:3000/artists/new">New Artist</a>
</body>
</html>