<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>

	<% include ../partials/nav.ejs %>
	<h1>Artist Index Page</h1>
	<br>
	<h2></h2>
    <select name="city">
            <%artists.forEach((elem, i) => {%>
                <option value="<%=elem.city%>"><%=elem.city%></option>    
            <%})%>
    </select>

</ul>
	<ul>
        <% for(let i = 0; i < artists.length; i++){ %>
         <li>
           <a href="/artists/<%=artists[i].id%>"><%=artists[i].name %></a>
         </li>
      <% } %>
    </ul>

	<a href="http://localhost:3000/">Home</a>
	<br>
	<a href="http://localhost:3000/artists/new">New Artist</a>
</body>
</html>