<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Miltonian+Tattoo" rel="stylesheet">
</head>
<body>
	<% include ../partials/nav.ejs %>
	<br>
	<br>
	<h2>Artist Registry</h2>
	<form action ="/artists" method="POST">
		<li>Name: <input type="text" name="name"></li>
		<li>City: <input type="text" name="city"></li>
		<li>Years Tatooing: <input type="text" name="yearsExp"></li>
		<li>Img: <input type="url" name="urls" id="url"
               placeholder="https://example.com"
               size="20" 
               required/>
        </li>
		<input type="submit" name="Register New Artist">
	</form>

</body>
</html>