<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
	<% include ../partials/nav.ejs %>
	<h1>Register a New Artist</h1>
	<form action ="/artists" method="POST">
		<li>Name: <input type="text" name="name"></li>
		<li>City: <input type="text" name="city"></li>
		<li>Years Tatooing: <input type="text" name="yearsExp"></li>
		<li>Img: <input type="text" src="url" alt="submit image"></li>
		<input type="submit" name="Register New Artist">
	</form>
	<a href="http://localhost:3000/">Home</a>

</body>
</html>